.container {
    border: 2px solid black;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    width: 400px;
}

.lines {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 400px;
}

.white {
    background-color: #ff6699;
    height: 50px;
    width: 50px;
    text-align: center;
}

.black {
    background-color: #660022;
    height: 50px;
    width: 50px;
    text-align: center;
}